.todo-list .thumbnail {
    padding: 20px;
}

.todo-list .thumbnail h3 {
    margin: 0;
    padding: 0;
    min-height: 75px;
}

.todo-list .thumbnail .due-date {
    width: 100px;
}

.todo-list {
    min-height: 233px;
}

.ng-hide {
    display: none;
}

.todo-list.completed h3 {
    text-decoration: line-through;
}